@model RoleManagmentVM

<div class="card shadow border-0 mt-4">
	<div class="card-header ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary py-2">PERMISSION</h2>
			</div>
		</div>
		<div class="card-body">
			<input type="hidden" asp-for="ApplicationUser.Id" />
			<form method="post" class="row" enctype="multipart/form-data">
				<div class="row">
					<div class="col-12">
						<div class="border p-3">
							<div class="form-floating py-2 col-12">
								<label asp-for="ApplicationUser.Name" class="ms-2 text-muted">Name</label>
								<input asp-for="ApplicationUser.Name" disabled class="form-control border-0 shadow  mt-2" />
								<span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
							</div>
							<div class="form-floating py-2 col-12">
								<label asp-for="ApplicationUser.UserName" class="ms-2 text-muted">Email</label>
									<input asp-for="ApplicationUser.UserName" disabled class="form-control border-0 shadow mt-2"></input>
								<span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
							</div>
							<div class="form-floating py-2 col-12">
								<label asp-for="ApplicationUser.Role" class="ms-2 text-muted">Role</label>
								<select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select">
									<option value="">--Select Role--</option>
								</select>
							</div>
							@* @{ *@
							@* 	var companyVisible = "display:none;"; *@
							@* } *@
							@* @if (Model.ApplicationUser.Role==SD.Role_Company) *@
							@* { *@
							@* 	companyVisible = "display:block;"; *@
							@* } *@
							@* <div class="form-floating py-2 col-12" style="@companyVisible"> *@
							<div class="form-floating py-2 col-12">
								<label asp-for="ApplicationUser.Id_Company" class="ms-2 text-muted">Display Order</label>
								<select asp-for="ApplicationUser.Id_Company" asp-items="@Model.CompanyList" class="form-select">
									<option value="">--Select Company--</option>
								</select>
							</div>
							 @* thẻ tông kết lỗi: *@
							<div asp-validation-summary="ModelOnly"></div>

							<div class="row mt-3">
								<div class="col-6 col-md-3">
									<button type="submit" class="btn btn-primary form-control" style="width: 150px">Update</button>

								</div>
								<div class="col-6 col-md-3">
									<a asp-controller="User" asp-action="Index" class="btn btn-secondary border form-control" style="width:150px">
										Back to List
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(document).ready(function () {
			$('#InputRole').change(function (e) {
				var selection = $('#ApplicationUser_Role Option:Selected').text();
				if (selection=='Company') {
					$('#ApplicationUser_Id_Company').show();
				} else {
					$('ApplicationUser_Id_Company').hide();
				}
			})
		})
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}