@model Goal
<h2>Bạn có chắc muốn xóa mục tiêu này?</h2>
<dl>
    <dt>Loại</dt>
    @* <dd>@Model.GoalType.NameGoalType</dd> *@
    <dt>Giá trị</dt>
    <dd>@Model.TargetValue</dd>
    <dt>Ngày</dt>
    <dd>@Model.TargetDate.ToShortDateString()</dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id_Goal" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
