@model Account

<div class="card shadow border-0 mt-4">
	<div class="card-header ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary py-2">Create Account</h2>
			</div>
		</div>
		<div class="card-body">
			<form method="post" class="row">
				<div class="border p-3">
					<div class="form-floating py-2 col-12">
						<label asp-for="email" class="ms-2">Email</label>
						<input asp-for="email" class="form-control border-0 shadow" />
						<span asp-validation-for="email" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 col-12">
						<label asp-for="passWord" class="ms-2">Password</label>
						<input asp-for="passWord" class="form-control border-0 shadow" />
						<span asp-validation-for="passWord" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 col-12">
						<label asp-for="role" class="ms-2">Role</label>
						<input asp-for="role" accept="images/*" class="form-control border-0 shadow" />
						<span asp-validation-for="role" class="text-danger"></span>
						@* <button type="submit">Upload</button> *@
					</div>

					@* thẻ tông kết lỗi: *@
					<div asp-validation-summary="ModelOnly"></div>

					<div class="row mt-3">
						<div class="col-6 col-md-3">
							<button type="submit" class="btn btn-primary form-control" style="width: 150px">Create</button>

						</div>
						<div class="col-6 col-md-3">
							<a asp-controller="Account" asp-action="Index" class="btn btn-secondary border form-control" style="width:150px">
								Back to List
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}