/* Global Styles */
body[b-faa5m3tm6o] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
body[b-faa5m3tm6o], html[b-faa5m3tm6o] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

/* Header */
.header-content[b-faa5m3tm6o] {
    text-align: center;
    margin-top: 20px;
}

header h1[b-faa5m3tm6o], header p[b-faa5m3tm6o] {
    margin: 0;
    animation: fadeIn-b-faa5m3tm6o 2s ease-in-out;
}

/* Navigation */
.menu[b-faa5m3tm6o] {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

    .menu li[b-faa5m3tm6o] {
        margin: 0 15px;
    }

    .menu a[b-faa5m3tm6o] {
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s;
    }

        .menu a:hover[b-faa5m3tm6o] {
            color: #0056b3;
        }

/* Hero Section */
.hero[b-faa5m3tm6o] {
    text-align: center;
    margin: 50px 0;
}

    .hero .quote[b-faa5m3tm6o] {
        font-size: 24px;
        font-style: italic;
        color: #555;
        animation: fadeIn-b-faa5m3tm6o 3s ease;
    }

.button-animate[b-faa5m3tm6o] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
}

    .button-animate:hover[b-faa5m3tm6o] {
        background-color: #218838;
        transform: scale(1.1);
    }

/* Footer */
footer[b-faa5m3tm6o] {
    text-align: center;
    margin-top: 20px;
}

.chat-button[b-faa5m3tm6o] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse-b-faa5m3tm6o 2s infinite;
}

/* Animations */
@keyframes fadeIn-b-faa5m3tm6o {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes pulse-b-faa5m3tm6o {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
