@model IEnumerable<Blog>

<div class=" row pb-3">
	<div class="col-12 col-md-6">
		<h2 class="text-center">Our Services</h2>
		<p class="text-center">We offer a wide range of services to meet your needs.</p>
	</div>
</div>